[submodule "SimpleHTML"]
	path = SimpleHTML
	url = https://github.com/cidlik/SimpleHTML
[submodule "systeminfo"]
	path = systeminfo
	url = https://github.com/cidlik/systeminfo
[submodule "ws2812-driver"]
	path = ws2812-driver
	url = https://github.com/cidlik/ws2812-driver
